:root{
    --clr-pri: #226666;
    --clr-sec: #2D882D;
    --clr-ter: #2E4172;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}
nav .links{
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}
li{
    margin: 5px 15px;
}
li:hover{
    cursor: pointer;
}
a:link{
    text-decoration: none;
}

/* Seating Chart Layout */
div.seatingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.seatingChart{
    display: flex;
    flex-direction: column;
}
div.row{
    display: flex;
    flex-direction: row;
}

/* Individual Seat Styling */
.selected{
    background-color: var(--clr-pri);
}
.available{
    background-color: white;
}
.unavailable{
    background-color: gray;
}

.reserved{
    background-color: red
}
/* Tooltip Styling for Individual Seats: */
.tooltip{
    visibility: hidden;
}

.ttContainer:hover .tooltip{
    visibility: visible;
    opacity: 1.0;
    position: relative;
    background-color: burlywood;
    color: black;
    top: -125px;
    left: -15px;
    width: 200px;
    white-space: normal;
    padding: 15px 5px;
    text-align: center;
    border-radius: 3px;
}

.ttContainer:hover {
    background-color: var(--clr-sec);
}